<div class="flex-row align-center space-between">
  <h1>Generations</h1>
  <button class="ghost-btn" (click)="loadData()">
    <i class="gg-sync"></i>
  </button>
</div>
<ng-container *ngIf="!loading && data && data?.length">
  <ul class="generations-grid">
    <li *ngFor="let item of data">
      <a class="generation-card" [routerLink]="['/generations', item?.id]">
        <span class="title" [innerText]="item?.name"></span>
      </a>
    </li>
  </ul>
</ng-container>

<ng-container *ngIf="loading">
  <app-loading-indicator></app-loading-indicator>
</ng-container>

<ng-container *ngIf="(!loading && !data) || (data && !data?.length)">
  <app-empty-indicator
    [message]="'No generations found...'"
  ></app-empty-indicator>
</ng-container>
