<div class="flex-column">
  <div class="flex-row align-center space-between">
    <div class="flex-column generation-header">
      <h1 class="title" [innerText]="data?.name"></h1>
      <div class="flex-row">
        <h3 class="location" style="margin-right: 5px">Region:</h3>
        <h3 class="location" [innerText]="data?.main_region?.name"></h3>
      </div>
    </div>
  </div>

  <div class="flex-colummn">
    <div class="flex-row">
      <h1>Pokémon</h1>
    </div>
    <ul class="pokemon-grid">
      <li *ngFor="let item of data?.pokemon_species">
        <a class="pokemon-card" [routerLink]="['/pokemon', item?.id]">
          <span class="title" [innerText]="item?.name"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
